
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4efc8;
}


nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background: #95b84e;
}

nav li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav li a:hover{
    background: #7fa13d;
}


.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.logo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.title h1{
    font-size: 3rem
    margin: 0;
    color: #6a4328;
}

.title p{
    font-size: 1.3rem;
}



.slideshow{
    width: 80%;
    height: 250px;
    margin: 30px auto;
    background: lightblue;
    border-radius: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
}

cards

.mission{
    text-align:center;
    margin: 30px;
}

.cards{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 30px;
}

.card{
    background: #cde6f4;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
}

.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}