body {
  background-color: lightyellow;
}

nav {
    position: absolute;
    top: 3%;  /* Adjust based on where you want the nav to appear */
    left: 23%;
    transform: translateX(-50%);
    background-color: rgba(153,189,85); /* Semi-transparent background */    padding: 10px 100px;
    border-radius: 10px;
}
navbar a {
    color: #white; /* Change hover color */
}

